body {
  margin: 0;
  background: #112D4F;
  font-family: "Courier New", Courier, monospace;
}

hr {
  border: 0.5px solid #9fabba; 
}

h4 {
  color: #e78c45;
}

a {
  color: #ccc;
  text-decoration: none;
}

hint {
  background: #ccc;
  color: #4c4c4c;
  padding: 0 0.5em;
}

func {
  color: #d54e53;
}

#codeArea {
  grid-area: codeArea;
  display: grid;
  height: 100%;
  grid-template-rows: 5% 55% 25% 15%;
  grid-template-columns: 40%;
  grid-template-areas: "nav polar"
                       "intro polar"
                       "codemirror polar" 
                       "console polar";
}

#nav {
  grid-area: nav;
  color: #ccc;
  border-right: 0.5px solid #9fabba;
  border-bottom: 0.5px solid #9fabba;
  padding-top: 5px;
  padding-left: 15px; 
}

#intro {
  grid-area: intro;
  color: #ccc;
  border-right: 1px solid #9fabba;
  padding: 0px 15px;
  overflow: scroll;
}

#codemirror {
  grid-area: codemirror;
  overflow: auto;
  border-right: 1px solid #9fabba;
  border-top: 4px solid #9fabba;
  border-bottom: 4px solid #9fabba;
  padding-top: 15px;
  padding-right: 15px;
}

#console {
  grid-area: console;
  overflow: auto;
  color: #9fabba;
  border-right: 0.5px solid #9fabba;
  padding-top: 8px;
}

#console span {
  padding-left: 8px;
  font-size: 14px;
}

#msg {
  color: #9fabba;
  padding-left: 8px;
}

#userDrawing {
  grid-area: polar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
}

#polarExample {
  grid-area: polar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

.col1-row1, .col2-row1 {
  border-right: 0.2px solid #9fabba;
  border-bottom: 0.2px solid #9fabba;
}

.col3-row1 {
  border-bottom: 0.2px solid #9fabba;
}

.col1-row2, .col2-row2 {
  border-right: 0.2px solid #9fabba;
}

/* Override codemirror.css */
.CodeMirror {
  height: auto !important;
  font-family: "Courier New", Courier, monospace !important;
  background-color: #112D4F !important;
}

.CodeMirror-gutters {
  border-right: 0px !important;
  background-color: #112D4F !important;
}

.CodeMirror-linenumber {
  padding: 0 15px 0 5px !important;
  color: #ccc !important;
}

.cm-s-tomorrow-night-bright span.cm-comment { 
  color: #848484 !important;
}