@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');

body {
  margin: 0;
  background: #232F60;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.4;
}

hr {
  border: 0.5px solid #9fabba; 
}

h3, h4 {
  color: #e1b16a;
}

a {
  color: #ccc;
  text-decoration: none;
}

b {
  font-weight: 800;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #d54e53;
  border: none;
  padding: 0.5em 0.5em;
  margin: 2em 2em;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #bf464a;
}

hint {
  background: rgba(145, 151, 175, 0.7);
  color: #e9eaef;
  padding: 0 0.5em;
  font-weight: 600;
}

func {
  color: #ce5a57;
}

key {
  color: #78a5a3;
}

check {
  font-size: 30px;
}

.logo {
  padding-left: 15px;
}

.git {
  padding-right: 15px;
}

.level {
  cursor: pointer;
}

.git:hover, .level:hover  {
  color: #9c9c9c;
}

.nav-right {
  margin-left: auto;
  padding-right: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  left: 0;
  min-width: 140px;
}

.dropdown-content a {
  color: #000;
  border-bottom: 0.5px solid #b7b7b7;
  padding: 0.8em 0.8em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b7b7b7
}

.dropdown:hover .dropdown-content {
  display: block;
}

#codeArea {
  grid-area: codeArea;
  display: grid;
  height: 100%;
  grid-template-rows: 5% 55% 23% 17%;
  grid-template-columns: 35%;
  grid-template-areas: "nav polar"
                       "intro polar"
                       "codemirror polar" 
                       "console polar";
}

#nav {
  grid-area: nav;
  display: flex;
  color: #ccc;
  border-bottom: 1px solid #9fabba;
  background: #232F60;
  height: 100%;
  align-items: center;
}

#intro {
  grid-area: intro;
  color: #ccc;
  padding: 0px 15px;
  overflow: scroll;
  position: relative;
}

#codemirror {
  grid-area: codemirror;
  overflow: auto;
  border-top: 4px solid #9fabba;
  border-bottom: 4px solid #9fabba;
  padding-top: 15px;
  padding-right: 15px;
}

#console {
  grid-area: console;
  overflow: auto;
  color: #9fabba;
  padding-top: 8px;
}

#console span {
  padding-left: 8px;
  font-size: 14px;
}

#msg {
  color: #9fabba;
  padding-left: 8px;
}

#userDrawing {
  grid-area: polar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 3;
}

#measurement {
  grid-area: polar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
}

#polarExample {
  grid-area: polar;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 1;
}

.col1-row1 {
  border-left: 1px solid #9fabba;
  border-right: 1px solid #9fabba;
  border-bottom: 1px solid #9fabba;
}

.col2-row1 {
  border-bottom: 1px solid #9fabba;
}

.col1-row2 {
  border-left: 1px solid #9fabba;
  border-right: 1px solid #9fabba;
}

/* Override codemirror.css */
.CodeMirror {
  height: auto !important;
  font-family: "Courier New", Courier, monospace !important;
  background-color: #232F60 !important;
}

.CodeMirror-gutters {
  border-right: 0px !important;
  background-color: #232F60 !important;
}

.CodeMirror-linenumber {
  padding: 0 15px 0 5px !important;
  color: #ccc !important;
}

.cm-s-tomorrow-night-bright span.cm-comment { 
  color: #9c9c9c !important;
}

.cm-s-tomorrow-night-bright span.cm-number { 
  color: #b387a9 !important;
}